# Python Related
__pycache__/

# Stored Models
models/pretrained/
models/checkpoints/

# Testing Script and Slurm
testing.py

# Data Exploration Related
data/notes.md
data/eda

# Misc
logs/
secrets.txt