# Python Related
__pycache__/
.venv
.flake8

# Data
data/coco_dataset

# Stored Models
models/pretrained/
models/checkpoints/

# Testing Script and Slurm
testing.py
eval.ipynb

# Scratch Notebooks
scratch_work/
# Misc
logs/
secrets.txt